<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/authStyle.css') }}" />
    <title>Ismail AABARI Analytics Project</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Ismail AABARI's  <span style="color: gold;">Analytics</span> </p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#services" class="link">Services</a></li>
                <li><a href="#about" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

<!----------------------------- Form box ----------------------------------->    
    <div class="form-box">
        
        <!------------------- login form -------------------------->

        <div class="login-container" id="login">
            <div class="top">
                <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                <header>Login</header>
            </div>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form action="{{ url_for('handle_login') }}" method="post">
                <div class="input-box">
                    <input type="email" class="input-field" name="email" placeholder="Email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" name="password" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In">
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login-check">
                        <label for="login-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </form>
        </div>

        <!------------------- registration form -------------------------->
        <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <form action="{{ url_for('handle_signup') }}" method="post">
                <div class="input-box">
                    <input type="email" class="input-field" name="email" placeholder="Email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" name="password" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Register">
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Terms & conditions</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>   

<div id="services">
    <br>
    <br>
    <h2>Our Services</h2>
    <div class="service-container">
        <div class="service-item">
            <h3>UNIQUE VISITORS PER DAY - INCLUDING SPIDERS</h3>
            <p>Analyze the unique visitors to your website, including search engine crawlers (spiders).</p>
        </div>
        <div class="service-item">
            <h3>OVERALL ANALYZED REQUESTS</h3>
            <p>Get insights into the total number of requests analyzed on your server.</p>
        </div>
        <div class="service-item">
            <h3>REQUESTED FILES (URLS)</h3>
            <p>Monitor the specific files or URLs that are being requested on your website.</p>
        </div>
        <div class="service-item">
            <h3>STATIC REQUESTS</h3>
            <p>Track the requests made for static files, such as images, CSS, and JavaScript.</p>
        </div>
        <div class="service-item">
            <h3>NOT FOUND URLS</h3>
            <p>Identify URLs that return 404 (Not Found) errors.</p>
        </div>
        <div class="service-item">
            <h3>VISITOR HOSTNAMES AND IPS</h3>
            <p>Analyze the hostnames and IP addresses of visitors accessing your website.</p>
        </div>
        <div class="service-item">
            <h3>GEO LOCATION</h3>
            <p>Gain insights into the geographical locations of your website visitors.</p>
        </div>
        <div class="service-item">
            <h3>HTTP STATUS CODES</h3>
            <p>Monitor the HTTP status codes returned by your server.</p>
        </div>
        <div class="service-item">
            <h3>OPERATING SYSTEMS</h3>
            <p>Analyze the operating systems used by visitors accessing your website.</p>
        </div>
        <div class="service-item">
            <h3>BROWSERS</h3>
            <p>Get insights into the web browsers used by visitors to access your website.</p>
        </div>
    </div>
</div>

<div id="about">
    <h2>About</h2>
    <p>Ce projet a été réalisé par Ismail AABARI dans le cadre du cours de Administration Unix. Grâce à ce cours, j'ai acquis plusieurs compétences précieuses, notamment dans les domaines du développement web, de l'analyse de données et de la gestion de projets.</p>
    <p>Je tiens à remercier sincèrement le professeur Mohammed Lahmer pour son excellent travail et son dévouement tout au long de ce cours. Ses explications claires et sa passion pour la matière ont grandement contribué à mon apprentissage et à ma réussite.</p>
</div>


<script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");

    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
 
</script>

<script>

    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("login");
    var y = document.getElementById("register");

    function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }

    function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }

</script>

</body>
</html>