<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ismail AABARI Logs analytical project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="sidebar">
      <div class="nav-header">
        <p class="logo">Ismail's analyticals</p>
        <i class="bx bx-menu btn-menu"></i>
      </div>
      <ul class="nav-links">
        <!-- <li>
          <i class="bx bx-search search-btn"></i>
          <input type="text" placeholder="search..." />
          <span class="tooltip">Search</span>
        </li> -->
        <li>
          <a href="#1">
            <i class="fa-solid fa-house"></i>
            <span class="title">Overall analysed</span>
          </a>
          <span class="tooltip">Overall analysed requests</span>
        </li>
        <li>
          <a href="#2">
            
            <i class="fa-solid fa-chart-simple"></i>
            <span class="title">files & ssh proto </span>
            
          </a>
          <span class="tooltip">Requested files and ssh protocoles</span>
        </li>
        <li>
          <a href="#3">
            <i class="fa-solid fa-chart-line"></i>
            <span class="title">Static requests</span>
          </a>
          <span class="tooltip">Static requests</span>
        </li>
        <li>
          <a href="#4">
            <i class="fa-solid fa-compass"></i>
            <span class="title">Geo localisation</span>
          </a>
          <span class="tooltip">Geo localisation</span>
        </li>
        <li>
          <a href="#5">
            <i class="fa-solid fa-chart-bar"></i>
            <span class="title">Requested files urls</span>
          </a>
          <span class="tooltip">Requested files urls</span>
        </li>
        <li>
          <a href="#6">
            <i class="fa-solid fa-chart-pie"></i>
            <span class="title">Visitor Host & IPS</span>
          </a>
          <span class="tooltip">Visitor Hostnames and IPS</span>
        </li>

        <li>
          <a href="#7">
            <i class="fa-solid fa-magnifying-glass-chart"></i>
            <span class="title">Unique visitor & spider</span>
          </a>
          <span class="tooltip">Unique visitor per day Including spiders</span>
        </li>

        <li>
          <a href="#8">
            <i class="fa-solid fa-arrows-spin"></i>
            <span class="title">Not found urls</span>
          </a>
          <span class="tooltip">Not found urls</span>
        </li>

        <li>
          <a href="#9">
            <i class="fa-solid fa-globe"></i>
            <span class="title">Http Status code</span>
          </a>
          <span class="tooltip">Http Status code</span>
        </li>

        <li>
          <a href="#10">
            <i class="fa-brands fa-microsoft"></i>
            <span class="title">Operating systems</span>
          </a>
          <span class="tooltip">Operating systems</span>
        </li>

        <li>
          <a href="#11">
            <i class="fa-brands fa-chrome"></i>
            <span class="title">Browsers</span>
          </a>
          <span class="tooltip">Browsers</span>
        </li>

        
      </ul>
      <div class="theme-wrapper">
        <i class="bx bxs-moon theme-icon"></i>
        <p>Dark Theme</p>
        <div class="theme-btn">
          <span class="theme-ball"></span>
        </div>
      </div>
    </section>
    <section class="home">
      <p>
        <i class="fa-solid fa-copyright"></i>
        <strong style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(0, 0, 0);" >This is <span style="color: rgb(0, 112, 240);">Ismail <span style="font-weight: 900;">AABARI</span> </span> project</strong> 
        <div class="panel">
          <header>Project analytics</header>
              <iframe id="1" title="ProjectUnixPage1" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZDIxMWNlMTItZTk2Ni00ZmY1LWI3OWItZTBhZjViYjhmZTI4IiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="2" title="ProjectUnixPage2" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZjYyN2E5ZmEtMjkwYS00OGViLTk1ZDgtZWRjMjkzNTc0ZmIxIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="3" title="ProjectUnixPage4" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMmU5NDQ1NzktMjRlMS00ZjZlLWE5NDEtMmI0ZTY4OGNhMmRjIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="4" title="Page3" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMGEzYzkzZWUtYzc1OC00YjRiLTk1NWItOGQyMzI4NWU1MDc1IiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="5" title="ProjectUnixPage5" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYTIzYmU3YWItYzIwNy00MGMyLWFmODYtNGE3YzY4YzEwNmQ5IiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="6" title="ProjectUnixPage6" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNTY2NTU1NjktMGJmMy00ZDFhLTg0MDMtZTJkYmY2ZjExYjAwIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="7" title="ProjectUnixPage7" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZDI3ZmM2YzUtZGY0NC00MmJmLWFhOGQtNWUzMWQ2ZDEyZDczIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="8" title="ProjectUnixPage8" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMTZmZDliMGEtN2I5My00YmJiLTk3OTktNjI2MTBiOTdiZGEwIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="9" title="ProjectUnixPage9" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMGE3ODBhMWQtMWM5Yy00MThhLWExODItNjg0ZWE4NTM2MzAzIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="10" id="iframe-page10"  title="ProjectUnixPage10" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiOWJlNTU4NmUtZmM2OS00MmRhLTgzMTQtY2Q0YjUzOTIwN2Y4IiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="11" title="ProjectUnixPage11" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYjIzODI3NTctMDlkYy00N2M2LWJkYjUtZDczYTlmMzFmNGZjIiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
              <iframe id="12" title="ProjectUnixPage12" width="690" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMjVhMjRjNDktZTJkZC00NWVkLWJlODUtOTBlZTlmY2QyZDU3IiwidCI6ImQ3ZmYxMDAzLWU2NTUtNDA0OC05NDhmLTlkODZjNTAyZWU1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
      </p>
    </section>

    <script>
      const btn_menu = document.querySelector(".btn-menu");
      const side_bar = document.querySelector(".sidebar");

      btn_menu.addEventListener("click", function () {
        side_bar.classList.toggle("expand");
        changebtn();
      });

      function changebtn() {
        if (side_bar.classList.contains("expand")) {
          btn_menu.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          btn_menu.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      }

      const btn_theme = document.querySelector(".theme-btn");
      const theme_ball = document.querySelector(".theme-ball");

      const localData = localStorage.getItem("theme");

      if (localData == null) {
        localStorage.setItem("theme", "light");
      }

      if (localData == "dark") {
        document.body.classList.add("dark-mode");
        theme_ball.classList.add("dark");
      } else if (localData == "light") {
        document.body.classList.remove("dark-mode");
        theme_ball.classList.remove("dark");
      }

      btn_theme.addEventListener("click", function () {
        document.body.classList.toggle("dark-mode");
        theme_ball.classList.toggle("dark");
        if (document.body.classList.contains("dark-mode")) {
          localStorage.setItem("theme", "dark");
        } else {
          localStorage.setItem("theme", "light");
        }
      });
    </script>
  </body>
</html>
